<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="BOOTSTRAP" />

    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" media="screen" href="../css/cssdashboard.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <header class="row">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a href="index.html" class="navbar-brand">
              <img src="../imgs/logo.svg" alt="logo fintech" class="logo" />
            </a>
            <button
              class="navbar-toggler"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <div class="navbar-nav">
                <a href="addReceitaEDespesa.html" class="btn"
                  >Adicionar Receita e Despesa</a
                >
                <a href="#" class="btn">Funcionalidade 2</a>
                <a href="#" class="btn">Funcionalidade 3</a>
                <a href="#" class="btn">Funcionalidade 4</a>
              </div>
            </div>
          </div>
        </nav>
      </header>
      <div class="row inf mt-3">
        <div class="bloco1 col-md-4 mt-1">
          <div>
            <h1>Seu saldo atual</h1>
            <p class="conteudo1">R$5.000,00</p>
          </div>
        </div>
        <div class="bloco2 col-md-3 mt-1">
          <div class="mt-3">
            <h1 class="mb-3">Objetivos</h1>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descrição</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Economizar R$500,00 no mês</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Ter um saldo atual de R$10.000,00 até o fim do ano</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Cortar Custos</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Venda do cell</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="bloco3 col-md-4 mt-1">
          <div class="mt-3">
            <h1>Histórico do mês atual</h1>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Descrição</th>
                  <th scope="col">Tipo</th>
                  <th scope="col">Valor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Conta de Luz</td>
                  <td>despesa</td>
                  <td>R$100,00</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Salario</td>
                  <td>Receita</td>
                  <td>R$2.500,00</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Presete</td>
                  <td>despesa</td>
                  <td>R$50,00</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Venda do cell</td>
                  <td>Receita</td>
                  <td>R$800,00</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>Salário esposa</td>
                  <td>Receita</td>
                  <td>R$2.000,00</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>Material escolar</td>
                  <td>Despesa</td>
                  <td>R$200,00</td>
                </tr>
                <tr>
                  <th scope="row">7</th>
                  <td>Combustivel</td>
                  <td>Despesa</td>
                  <td>R$100,00</td>
                </tr>
                <tr>
                  <th scope="row">8</th>
                  <td>Lucros Renda</td>
                  <td>Receita</td>
                  <td>R$200,00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
